{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <main class="form-sigin w-50 mx-auto align-middle">
        <form action="{{ path('app_login') }}" method="post">
            <div class="form-floating mb-3 mt-3">            
                <input type="email" class="form-control" id="username" name="_username" placeholder="name@example.com" value="{{ last_username }}"/>
                <label for="username">Email</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                
                <input type="password" class="form-control" id="password" placeholder="Password" name="_password"/>
                <label for="password">Password</label>
            </div>
            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <button class="w-100 btn btn-lg btn-secondary" type="submit">login</button>
            <p class="mt-5 mb-3 text-center">Don't have an account ? Register <a href="{{ path('app_register') }}">here</a></p>
        </form>
    </main>
{% endblock %}
